{% extends "base.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
{% include 'header.html' %}

<main style="background-image: url({{ url_for('static', filename='img/bg2.jpg') }});">
    <div class="container pt-5 pb-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="bd-content text-center">
                    <p class="bg-light p-2 border border-secondary rounded">
                        Ласкаво просимо в RivneRent. Наша компанія - це надійний партнер для ваших подорожей. Ми пропонуємо широкий вибір автомобілів для прокату, починаючи від економ-класу та закінчуючи преміум-автомобілями.
                    </p>
                    <p class="bg-light p-2 border border-secondary rounded">
                        Ми знаємо, що ваш час та комфорт є важливими, тому прагнемо забезпечити нашим клієнтам максимальну зручність. Наші автомобілі завжди знаходяться в ідеальному технічному стані, завдяки регулярним технічним обслуговуванням та перевіркам перед кожним прокатом.
                    </p>
                    <p class="bg-light p-2 border border-secondary rounded">
                        Наша місія полягає в забезпеченні найкращого досвіду прокату автомобілів для наших клієнтів. Ми докладаємо максимум зусиль, щоб зробити процес оформлення прокату максимально простим та зручним. Ми завжди готові допомогти нашим клієнтам з підбором авто для їх потреб.
                    </p>
                    <p class="bg-light p-2 border border-secondary rounded">
                        Наша компанія має багаторічний досвід у сфері прокату автомобілів і ми постійно бачимо клієнтів, які звертаються до наших послуг не вперше. Ми дуже вдячні за довіру нашим клієнтам та завжди готові підтримати їх подорожі в будь-який час. Якщо у Вас є будь-які запитання щодо нашої компанії або послуг, зв'яжіться з нашою службою підтримки клієнтів, і ми з радістю допоможемо Вам!
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ratio ratio-4x3 p-4">
                    <div class="p-4 bg-light d-flex border border-secondary rounded">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162039.56949946727!2d26.079361271117456!3d50.61098520329185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f6caa2d7c89d7%3A0x27481abdbc4e484!2z0KDRltCy0L3QtSwg0KDRltCy0L3QtdC90YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1suk!2sua!4v1700578100492!5m2!1suk!2sua" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock %}