{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %} {% if is_edit %}Редагувати авто{% else %}Додати авто{% endif %} {% endblock %}

{% block content %}
{% include 'header.html' %}

<main class="bg-dark text-light p-5">
    {% include 'flashes.html' %}
    <div class="text-center mb-4">
        <img class="mb-4" src="{{ url_for('static', filename='favicon.png') }}" alt="RivneRent icon" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">{% if is_edit %}Редагування інформації про авто{% else %}Додавання авто{% endif %}</h1>
    </div>
    {{ render_form(form, extra_classes="mx-auto", novalidate=True, button_style="success", button_size="lg", render_kw={"style": "width: 100%; max-width: 800px;"}) }}
</main>

{% include 'footer.html' %}
{% endblock %}