{% extends "base.html" %}

{% block title %}Бронювання авто{% endblock %}

{% block content %}
{% include 'header.html' %}

<main class="bg-body-tertiary text-light p-5" data-bs-theme="dark">
    <div class="container" style="max-width: 1000px;">
        <div class="text-center mb-5">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='favicon.png') }}" alt="RivneRent icon" width="72" height="72">
            <h2>Бронювання автомобіля</h2>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <small class="text-body-secondary">Brief description</small>
                        </div>
                        <span class="text-body-secondary">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Second product</h6>
                            <small class="text-body-secondary">Brief description</small>
                        </div>
                        <span class="text-body-secondary">$8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Third item</h6>
                            <small class="text-body-secondary">Brief description</small>
                        </div>
                        <span class="text-body-secondary">$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                        <div class="text-secondary">
                            <h6 class="my-0">Застава</h6>
                        </div>
                        <span class="text-success">−$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </li>
                </ul>
            </div>

            <div class="col-md-7 col-lg-8">
                <form method="post" novalidate>
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    <h4>Дати прокату</h4>
                    <small class="text-muted">Виберіть потрібні дні та години</small>
                </div>

                <div class="row g-3">
                    <div class="col-sm-6">
                        {{ form.car_obtain_time.label(class_="form-label") }}
                        {{ form.car_obtain_time(class_="form-control" + (' is-invalid' if form.car_obtain_time.errors else '')) }}
                        <div class="invalid-feedback">
                            {% for error in form.car_obtain_time.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        {{ form.car_return_time.label(class_="form-label") }}
                        {{ form.car_return_time(class_="form-control" + (' is-invalid' if form.car_return_time.errors else '')) }}
                        <div class="invalid-feedback">
                            {% for error in form.car_return_time.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <div class="mb-3">
                    <h4>Опції та послуги</h4>
                    <small class="text-muted">Виберіть додаткові опції для комфортної подорожі</small>
                </div>

                <div id="additional_services">
                    {% for option in form.options %}
                    <div class="form-check">
                        {{ option(class="form-check-input") }}
                        {{ option.label(class_="form-label") }}
                    </div>
                    {% endfor %}
                </div>

                <hr class="my-4">

                <div class="mb-3">
                    <h4>Контактні дані</h4>
                    <small class="text-muted">Вкажіть контактні дані, щоб ми могли з Вами зв'язатись</small>
                </div>

                <hr class="my-4">

                {{ form.submit(class_="w-100 btn btn-primary btn-lg") }}
            </form>
          </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}

<script>
    document.querySelectorAll('#additional_services label.form-label').forEach(label => {
        let text = label.innerText;
        let chars = Array.from(label.innerText);
        if (chars.length > 0) {
            label.innerHTML = `<span style="display: inline-block; width: 1.5em; text-align: center;">${chars[0]}</span>${chars.slice(1).join('')}`;
        }
    });
</script>

{% endblock %}