{% extends "base.html" %}

{% block title %}Наші авто{% endblock %}

{% block content %}
{% include 'header.html' %}

<main class="p-5" style="background-image: url({{ url_for('static', filename='img/bg2.jpg') }});">
    {% include 'flashes.html' %}

    <section class="py-3 text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto alert alert-warning border-black">
                <h1 class="fw-light">Обирай авто в RivneRent!</h1>
                <p class="lead text-muted">Зробіть вибір серед запропонованих або перегляньте наявні авто по певній категорії. В наявності авто під будь-які потреби та на будь-який термін прокату від 1 до 89 днів включно.</p>
                {% if current_user.is_authenticated %}
                <a class="btn btn-lg btn-primary" href="{{ url_for('admin.add_car') }}">Додати авто</a>
                {% else %}
                <div class="dropdown-center">
                    <button class="btn btn-lg btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Допомога з підбором
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="tel:{{ ADMIN_PHONE_NUM }}">📞{{ ADMIN_PHONE_NUM }}</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    <a id="categories"></a>

    <div class="container w-75 d-flex justify-content-around flex-wrap bg-secondary p-2 rounded mt-4">
        <a class="btn btn-lg m-1 {% if not choice %}btn-secondary border-bottom{% else %}btn-light{% endif %}" href="{{ url_for('main.all_cars') }}#categories">Всі авто</a>
        {% for cat_tag, cat in categories.items() %}
        <a class="btn btn-lg m-1 {% if choice == cat_tag %}btn-secondary border-bottom{% else %}btn-light{% endif %}" href="{{ url_for('main.all_cars', category=cat_tag) }}#categories">{{ cat.value }}</a>
        {% endfor %}
    </div>

    <div class="album pt-5 pb-3">
        <div class="container">
            {% if cars %}
            <div class="row row-cols-md-2 row-cols-xl-3 g-3">
                {% for car in cars %}
                <div class="col">
                    <div class="card shadow-sm border border-dark">
                        <div class="ratio ratio-16x9">
                            <a href="{{ '-'.join(car.name.split()) }}_id{{ car.id }}">
                                <img class="bd-placeholder-img card-img-top h-100 object-fit-cover" src="{{ car.img_url }}">
                            </a>
                        </div>
                        <div class="card-body">
                            <a class="text-reset text-decoration-none" href="{{ '-'.join(car.name.split()) }}_id{{ car.id }}">
                                <h5 class="card-title pb-3 border-bottom border-secondary">{{ car.name }}</h5>
                            </a>
                            <table class="table table-bordered border-white text-center">
                                <tr>
                                    <td class="text-secondary" style="background-color: #f6f6f6;">26-89 діб</td>
                                    <td class="text-secondary" style="background-color: #f6f6f6;">10-25 діб</td>
                                    <td class="text-secondary" style="background-color: #f6f6f6;">4-9 діб</td>
                                    <td class="text-secondary" style="background-color: #f6f6f6;">1-3 діб</td>
                                </tr>
                                <tr>
                                    <td>{{ car.price_26to89 }}</td>
                                    <td>{{ car.price_10to25 }}</td>
                                    <td>{{ car.price_4to9 }}</td>
                                    <td>{{ car.price_1to3 }}</td>
                                </tr>
                            </table>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if current_user.is_authenticated %}
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirmModal"
                                            data-confirm-text="Редагувати" data-confirm-url="{{ url_for('admin.edit_car', car_id=car.id) }}"
                                            data-modal-body-text="Ви хочете редагувати інформацію про дане авто?<br /><b>{{ car.name }}</b>">
                                        Редагувати
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal"
                                            data-confirm-text="Видалити" data-confirm-url="{{ url_for('admin.delete_car', car_id=car.id) }}"
                                            data-modal-body-text="Ви впевнені, що хочете видалити дане авто?<br /><b>{{ car.name }}</b>">
                                        Видалити
                                    </button>
                                    {% else %}
                                    <a class="btn btn-primary" href="{{ url_for('main.book_car', car=car.id) }}">Бронювати</a>
                                    <a class="btn btn-outline-secondary" href="{{ '-'.join(car.name.split()) }}_id{{ car.id }}">Більше</a>
                                    {% endif %}
                                </div>
                                <small class="text-muted">{{ car.category.value }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h1 class="h1 alert alert-danger">На жаль, поки що немає доступних авто :(</h1>
            {% endif %}
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <div class="container pt-5">
        <div class="row">
            <form method="POST" action="{{ url_for('admin.add_service') }}">
                <table class="table table-striped table-hover border border-dark">
                    <thead>
                        <tr>
                            <th scope="col"><label for="serviceName" class="form-label mb-0">Назва послуги</label></th>
                            <th scope="col"><label for="serviceDailyPrice" class="form-label mb-0">Ціна за добу</label></th>
                            <th scope="col"><label for="serviceMaxPrice" class="form-label mb-0">Максимальна ціна за весь період</label></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.daily_price }}</td>
                            <td>{{ service.max_price }}</td>
                            <td class="text-center">
                                <button type="button" class="btn" title="Видалити послугу" data-bs-toggle="modal" data-bs-target="#confirmModal"
                                        data-confirm-text="Видалити" data-confirm-url="{{ url_for('admin.delete_service', service_id=service.id) }}"
                                        data-modal-body-text="Ви впевнені, що хочете видалити дану додаткову послугу з переліку доступних?<br /><b>{{ service.name }}</b>">
                                    ❌
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><input type="text" class="form-control border-success" id="serviceName" name="name" placeholder="Назва нової послуги" maxlength="100" required></td>
                            <td><input type="text" class="form-control border-success" id="serviceDailyPrice" name="daily_price" placeholder="Ціна за добу нової послуги" maxlength="20" required></td>
                            <td><input type="text" class="form-control border-success" id="serviceMaxPrice" name="max_price" placeholder="Максимальна ціна нової послуги" maxlength="20" required></td>
                            <td class="text-center"><input type="submit" class="btn" value="✔" title="Додати послугу"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    {% endif %}
</main>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Підтвердження</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                <a class="btn btn-primary" id="confirm_button" href="#"></a>
            </div>
        </div>
    </div>
</div>

<script>
    const confirmModal = document.getElementById('confirmModal');
    confirmModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;

        const modalConfirmButton = confirmModal.querySelector('#confirm_button');
        const modalBody = confirmModal.querySelector('.modal-body');

        modalConfirmButton.innerText = button.dataset.confirmText;
        modalConfirmButton.href = button.dataset.confirmUrl;
        modalBody.innerHTML = button.dataset.modalBodyText;
    })
</script>

{% include 'footer.html' %}
{% endblock %}