<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <nav class="container-xxl flex-wrap flex-md-nowrap bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">
            <img src="{{ url_for('static', filename='favicon.png') }}" alt="RivneRent icon" width="30" height="30" class="d-inline-block align-text-top">
            RivneRent
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'home' %}active{% endif %}" href="{{ url_for('main.home') }}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'cars' %}active{% endif %}" href="{{ url_for('main.all_cars') }}">Перелік авто</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'rules' %}active{% endif %}" href="{{ url_for('main.rules_n_terms') }}">Правила та умови</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page == 'about' %}active{% endif %}" href="{{ url_for('main.about_us') }}">Про нас</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Для персоналу
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        {% if current_user.is_authenticated %}
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Вихід</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Вхід</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarTelDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        📞
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarTelDropdown">
                        <li><a href="tel:{{ ADMIN_PHONE_NUM }}" class="nav-link active" title="Натисніть, щоб зателефонувати">📞{{ ADMIN_PHONE_NUM }}</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text">Прокат автомобілів у місті Рівне</span>
        </div>
    </nav>
</header>