{% extends "base.html" %}

{% block title %}RivneRent{% endblock %}

{% block content %}
{% include 'header.html' %}

<main style="background-image: url({{ url_for('static', filename='img/bg1.jpeg') }});">
    <div class="px-4 pt-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Вітаємо на сайті RivneRent!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Пропонуємо Вам <a href="{{ url_for('main.all_cars') }}" class="link-dark">широкий вибір автомобілів</a> для прокату за доступними цінами. Незалежно від того, чи Ви подорожуєте відпочивати, у відрядження або потребуєте автомобіль для тимчасового користування, Ви будете задоволені нашими послугами!
            </p>
        </div>
        <div class="overflow-hidden" style="max-height: 45vh;">
            <div class="container px-5">
                <img src="{{ url_for('static', filename='img/carsharing.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="carsharing image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock %}