{% extends "base.html" %}

{% block title %}Правила та умови{% endblock %}

{% block content %}
{% include 'header.html' %}

<main style="background-image: url({{ url_for('static', filename='img/bg2.jpg') }});">
    <div class="container-xxl py-5 d-flex justify-content-center">
        <div class="card bg-warning border-black col-lg-9">
            <img src="{{ url_for('static', filename='img/rules_n_terms.jpg') }}" class="card-img-top" alt="Rules accepting">
            <div class="card-body">
                <p class="card-text lead"><strong>Правила та умови прокату автомобілів є важливою частиною нашого сайту. Перед тим, як здійснити прокат, ми радимо уважно прочитати наступні правила та умови!</strong></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-warning">⚠️<b>Вік та досвід водіння:</b> для прокату автомобіля потрібно мати не менше 21 року та водійський стаж не менше 2 років. Деякі категорії автомобілів можуть вимагати більшого віку та досвіду водіння.</li>
                <li class="list-group-item list-group-item-warning">⚠️<b>Оформлення:</b> для прокату автомобіля потрібно надати водійські права та документ, що підтверджує особисті дані. Ми приймаємо кредитні картки та готівку для оплати прокату.</li>
                <li class="list-group-item list-group-item-warning">⚠️<b>Повернення автомобіля:</b> автомобіль повинен бути повернутий в тому ж стані, в якому він був взятий на прокат. Якщо автомобіль повернений з пошкодженнями, клієнт несе відповідальність за відшкодування витрат на ремонт.</li>
                <li class="list-group-item list-group-item-warning">⚠️<b>Плата за прокат та штрафи:</b> плата за прокат розраховується за кількість днів, на які було оформлено прокат автомобіля. Заборонено перевищувати термін прокату без додаткової угоди. У випадку порушення умов прокату, клієнт може бути позбавлений права користування автомобілем та покараний штрафом.</li>
                <li class="list-group-item list-group-item-warning">⚠️<b>Страхування:</b> всі наші автомобілі застраховані від аварій, крадіжки та інших непередбачуваних ситуацій. Проте, клієнт несе відповідальність за будь-які пошкодження, які виникли через його провину.</li>
                <li class="list-group-item list-group-item-warning">⚠️<b>Обмеження пробігу:</b> ми можемо застосовувати обмеження пробігу для наших автомобілів. У разі перевищення обмеження пробігу, клієнт може сплачувати додаткову плату за кожен кілометр понад обмеження.</li>
                <li class="list-group-item list-group-item-warning">⚠️<b>Відмова від прокату:</b> ми залишаємо за собою право відмовити в прокаті автомобіля без пояснення причин. Ми можемо відхилити оренду, якщо клієнт не відповідає вимогам віку та досвіду водіння, або якщо він не може надати документацію, яка це підтверджує.</li>
                <li class="list-group-item list-group-item-warning">⚠️<b>Зміни умов:</b> ми можемо змінити правила та умови в будь-який час. Ми будемо повідомляти клієнтів про будь-які зміни в умовах прокату.</li>
            </ul>
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock %}