{% extends "base.html" %}

{% block title %}Наші авто{% endblock %}

{% block content %}
{% include 'header.html' %}

<main class="bg-dark text-white">
    <div class="container mt-5 mb-4 text-center">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9 col-xl-7 mb-5">
                <img src="{{ car.img_url }}" alt="Image of {{ car.name }}" width="100%">
            </div>
            <div class="col-lg-9 col-xl-5 border border-success rounded d-flex flex-column justify-content-center p-4 mb-5">
                <h1 class="mb-4 h1">{{ car.name }}</h1>
                <table class="table table-bordered table-dark text-center">
                    <tr>
                        <td><img src="{{ url_for('static', filename='img/car_specifications/engine.svg') }}" alt="engine icon"></td>
                        <td><img src="{{ url_for('static', filename='img/car_specifications/fuel.svg') }}" alt="fuel icon"></td>
                        <td><img src="{{ url_for('static', filename='img/car_specifications/transmission.svg') }}" alt="transmission icon"></td>
                        <td><img src="{{ url_for('static', filename='img/car_specifications/passenger.svg') }}" alt="passenger icon"></td>
                    </tr>
                    <tr>
                        <td>{{ car.engine_size }} л.</td>
                        <td>{{ car.fuel_type.value }}</td>
                        <td>{{ car.transmission.value }}</td>
                        <td>{{ car.seats }} місць</td>
                    </tr>
                </table>
                <p class="mb-4 fs-6">
                    <i>{{ car.description }}</i>
                </p>
                <div>
                    <button type="button" class="btn btn-success fs-6">Обрати дати прокату</button>
                    <a class="btn btn-outline-light fs-6 mx-3" href="{{ car.info_url }}" target="_blank">Більше про авто</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5 pt-4 pb-5 w-75">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <h3 class="mb-3 fs-2">
                    ЦІНИ НА ПРОКАТ
                </h3>
                <h4 class="mb-5 fs-6">
                    *Нижче Ви можете ознайомитись з вартістю прокату даного автомобіля! Усі ціни вказані за добу прокату! Завдаток вноситься перед здійсненням прокату та повертається у повному обсязі, якщо клієнт не порушив правил прокату!
                </h4>
            </div>
        </div>

        <div class="row justify-content-center g-5">
            {% for period, price in {"1-3 ДІБ": car.price_1to3, "4-9 ДІБ": car.price_4to9, "10-25 ДІБ": car.price_10to25, "26-89 ДІБ": car.price_26to89}.items() %}
            <div class="col-lg-6 px-5">
                <div class="row border-bottom">
                    <div class="col-6">
                        <h4 class="card-title display-7">{{ period }}</h4>
                        <p class="mb-1 display-7">Термін прокату</p>
                    </div>
                    <div class="col-6">
                        <p class="display-6 text-end">{{ price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-lg-6 px-5">
                <div class="row border-bottom">
                    <div class="col-6">
                        <h4 class="card-title display-6">ЗАВДАТОК</h4>
                    </div>
                    <div class="col-6">
                        <p class="display-6 text-end">{{ car.deposit }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock %}