{% extends "base.html" %}

{% block title %}Правила та умови{% endblock %}

{% block content %}
{% include 'header.html' %}

<main style="background-image: url({{ url_for('static', filename='img/bg2.jpg') }});">
    <div class="container-xxl py-5 d-flex justify-content-center">
        <div class="card bg-warning border-black col-lg-9">
            <img src="{{ url_for('static', filename='img/rules_n_terms.jpg') }}" class="card-img-top" alt="Rules accepting">
            <div class="card-body">
                <p class="card-text"><strong>Правила та умови оренди автомобілів є важливою частиною нашого сайту. Перед тим, як здійснити оренду, ми радимо уважно прочитати наступні правила та умови:</strong></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-warning">⚠️Вік та досвід водіння: для оренди автомобіля потрібно мати не менше 21 року та водійський стаж не менше 2 років. Деякі категорії автомобілів можуть вимагати більш високого віку та досвіду водіння.</li>
                <li class="list-group-item list-group-item-warning">⚠️Оформлення: для оренди автомобіля потрібно надати водійські права та документ, що підтверджує особисті дані. Ми приймаємо кредитні картки та готівку для забезпечення оренди.</li>
                <li class="list-group-item list-group-item-warning">⚠️Повернення автомобіля: автомобіль повинен бути повернутий в тому ж стані, в якому він був орендований. Якщо автомобіль повернутий з пошкодженням, клієнт несе відповідальність за відшкодування витрат на ремонт.</li>
                <li class="list-group-item list-group-item-warning">⚠️Орендна плата та штрафи: орендна плата розраховується за кількість днів, на які було орендовано автомобіль. Заборонено перевищувати термін оренди без додаткової угоди. У випадку порушення умов оренди, клієнт може бути позбавлений права користування автомобілем та сплачувати штраф.</li>
                <li class="list-group-item list-group-item-warning">⚠️Страхування: всі наші автомобілі застраховані від аварій, крадіжки та інших непередбачуваних ситуацій. Проте, клієнт несе відповідальність за будь-які пошкодження, які виникли через його</li>
                <li class="list-group-item list-group-item-warning">⚠️Обмеження пробігу: ми можемо застосовувати обмеження пробігу для наших автомобілів. У разі перевищення обмеження пробігу, клієнт може сплачувати додаткову плату за кожен додатковий кілометр.</li>
                <li class="list-group-item list-group-item-warning">⚠️Відмова від оренди: ми залишаємо за собою право відмовити в оренді автомобіля без пояснення причин. Ми можемо відхилити оренду, якщо клієнт не відповідає вимогам віку та досвіду водіння, або якщо він не може надати достатній документації.</li>
                <li class="list-group-item list-group-item-warning">⚠️Зміни умов: ми можемо змінити правила та умови в будь-який час. Ми будемо повідомляти клієнтів про будь-які зміни в умовах оренди.</li>
                <li class="list-group-item list-group-item-warning">⚠️Клієнт може оформити прокат, дата отримання авто в якому - поточний день, до 20:00 поточного дня. Після 20:00 можливе оформлення прокату лише з отриманням авто не раніше, ніж наступного дня.</li>
                <li class="list-group-item list-group-item-warning">⚠️В день повернення авто клієнт повинен повернути авто не пізніше, ніж 20:30. В разі форс-мажорних обставин клієнт мусить повідомити нас, інакше о 20:30 в день повернення авто буде дистанційно заглушено, а клієнт буде покараний штрафом, розмір якого залежить від конкретного автомобіля та місця зупинки.</li>
            </ul>
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock %}